<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyGames.DAL.Properties.Settings.MyGamesConnectionString"
            connectionString="Data Source=172.16.1.12;Initial Catalog=MyGames;Persist Security Info=True;User ID=sa;Password=XiaoFang2009"
            providerName="System.Data.SqlClient" />
        <add name="MyGames.DAL.Properties.Settings.MyGamesConnectionString1"
            connectionString="Data Source=59.44.63.45;Initial Catalog=MyGames;Persist Security Info=True;User ID=sa;Password=XiaoFang2009"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>