<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!--添加服务-->
      <service name="MyGames.Services.MasterService" behaviorConfiguration="MasterServiceBehavior">
        <!--name 必须与代码中的host实例初始化的服务一样  
            behaviorConfiguration 行为配置 -->
        <host>
          <baseAddresses>
            <!--添加调用服务地址-->
            <add baseAddress="http://192.168.1.106:9998/"/>
          </baseAddresses>

        </host>
        <!--添加契约接口   contract="MyWCF.MyTicketService" MyWCF.MyTicketService为契约接口   binding="wsHttpBinding" wsHttpBinding为通过Http调用-->
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="MyGames.Contracts.IMaster"></endpoint>
      </service>

    </services>
    <!--定义CalculatorServiceBehavior的行为-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MasterServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>

        </behavior>

      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>